<h4><%= @user.username %></h4>

<% if  admin_or_current_user? %>
  <p><%= link_to 'Edit User', edit_user_path(@user) %></p>
<% end %>

<p>All posts by <%= @user.username %> </p>
<ul>
	<% @user.posts.all.each do |post| %>
	<li>
		<%= post.title %>
	</li>
	<% end %>
</ul>